terraform {
  backend "s3" {
    bucket = "phonqpvt1-{{.DOMAIN}}-remote-tfstate"
    key    = "{{.KEY_PATH}}/state.tfstate"
    region = "ap-southeast-1"
    dynamodb_table = "phonqpvt1-local.backend-remote-tfstate-lock"
  }
}

provider "aws" {
  region = var.region
}

variable "region" {
  default = "ap-southeast-1"
}